out
*.o
# source sight project files
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.SearchResults
*.WK3
GPATH
GRTAGS
GTAGS
tags
# MAC OS
.DS_Store
._.DS_Store
# BSP
.gdbinit
cscope.in.out
cscope.out
cscope.po.out
tags
*.mk_old

